*{
	margin: 0;
	padding: 0;
}

.container-center{
	position: absolute;
	top: 60%;
	left: 50%;
	width: 800px;
	height: 400px;
	background:linear-gradient(to right, #97D2EC, #0072ff);
	transform: translate(-50%, -50%);
	border-radius: 20px ;
}
.heading{
	text-align: center;
	width: 100%;
	line-height: 100px;
	font-size: 18px;
	background:linear-gradient(to right, #0072ff, #8811c5);
	font-family: cursive;
	margin-bottom: 5px;
	transition: uppercase;
}
form{
	width: 300px;
	display: block;
	font-size: 20px;
	transition: 0.3s;
	top: 40px;
	position: relative;
}
.form-control{
	width:100%;
	padding: 10px 0;
	margin: 5px;
	border:none;
	outline: none;
	text-align: center;
	background: transparent;
	border: 3px solid black;
	border-radius: 15px;
	font-size: 20px;
	box-shadow: 0 0 10px #007CDA, 0 0 10px #007CDA, 0 0 10px #007CDA;
	transition: box-shadow 1s, color 1s;
}
.container-row{
	justify-content: center;
	display: flex;
	margin-bottom: 5px;
}
.admin-form{
	margin-top: 5px;
	box-shadow: 5px;
	padding: 2;
	text-align: center;
}
@media only screen(max-width: 600px){
	.container-center{
		width: 90%;
		height: 200%;
	}
}
.submit-btn{
	width: 200px;
	padding: 10px;
	align-items: center;
	cursor: pointer;
	background: skyblue;
	border-radius: 15px; 
	border:none;
	outline: none; 
	border: 5px solid black;
	transition: box-shadow 1s, color 1s;
	font-size: 14px;
	font-weight: bolder;
}